.brend {
    width: 100%;
    min-height: 153px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url('img/brendbg.png');
    background-size: cover;
    @include respond-to(500px) {        
        padding: 40px 0 40px 0;
    }
    @include respond-to(500px) {
        flex-direction: column;
    }
    & img {
        display: block;
        margin: 48px 35px 0 35px;
        @include respond-to(1100px) {
            margin: 48px 20px 10px 20px;
        }
        @include respond-to(945px) {
            margin: 20px 20px 10px 20px;
        }
        @include respond-to(500px) {
            margin: 15px;
        }
    }
}