.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &-menu {
        max-width: $content;
        width: 100%;
        min-height: 109px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        font-family: $nova;

        @include respond-to(900px) {
            margin-top: 10px;
            margin-bottom: 10px;
            justify-content: center;
        }
        & a {
            color: $black;
            font-size: 14px;
            font-weight: 700;
            line-height: 44px;
            text-transform: uppercase;
            padding: 3px 13px 3px 13px;
            margin: 0 2px 0 2px;
            border: 2px solid transparent;
            transition: 0.1s ease-in-out;
            &:hover {
                border: 2px solid #b98348;
                color: $hov_col;
            }
        }
    }
    
    &-list {
        max-width: $content;
        height: auto;
        display: flex;
        margin-bottom: 12px;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        @include respond-to(1010px) {
            justify-content: space-around;
        }
        
        & > div {
            position: relative;
            width: 33%;
            height: 328px;
            margin-bottom: 7px;
            color: $white;
            font-family: $nova2;
            letter-spacing: 1px;
            background-repeat: no-repeat;
            background-size: cover;
            cursor: pointer;
            z-index: 0;
            @include respond-to(1000px) {
                width: 400px;
            }
            @include respond-to(425px) {
                width: 95%;
            }
            &:after {
                content: "";
                display: none;
                position: absolute; 
                left:5px;
                right:5px;
                top:5px;
                bottom:5px;
                background-color: rgba(185, 130, 72, 0.301);      
                z-index: -1;
                outline: 5px solid rgba(194, 138, 78, 1);
            }
            &:hover::after {
                display: block;
                transition: 0.2s ease-in-out;
                
            }
        }

        & > div:nth-child(1), & > div:nth-child(2) {
            background-image: url('img/cat-list-1.png');
            text-align: center;
            line-height: 30px;
            text-transform: uppercase;
            & > p:nth-child(1){
                margin-top: 147px;
                font-size: 22px;
                font-weight: 700;
            }
            & > p:nth-child(2) {
                font-family: "Georgia";
                font-size: 22px;
                font-weight: 400;
            }
            & > p:nth-child(3) {
                margin-top: 5px;
                font-family: $nova2;
                font-size: 12px;
                font-weight: 600;
            }
        }

        & > div:nth-child(2) {
            background-image: url('img/cat-list-2.png');
        }

        & > div:nth-child(3) {
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url('img/cat-list-3.png');
            & > p {
                display: flex;
                align-items: center;
                width: 273px;
                height: 106px;
                text-align: center;
                background-color: rgba(181, 127, 69, 0.705);
                font-family: $nova2;
                font-size: 20px;
                font-weight: 700;
                line-height: 22px;
            }
        }

        & > div:nth-child(4) {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-image: url('img/cat-list-4.png');
            & > p:nth-child(1) {
                margin-top: 112px;
                font-family: $nova2;
                font-size: 22px;
                font-weight: 700;
                line-height: 48px;
                text-transform: uppercase;
            }
            & > p:nth-child(2) {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: $myriad;
                font-size: 22px;
                font-weight: 400;
                text-transform: uppercase;
                & > span {
                    display: flex;                    
                    font-family: $myriad;
                    font-size: 22px;
                    font-weight: 400;
                    text-transform: lowercase;
                    &:before, &:after {
                        content: "";
                        position: relative;
                        display: block;
                        width: 39px;
                        height: 1px;
                        margin-top: 14px;
                        background-color: $white;
                    }
                    &:before {
                        margin-right: 14px;
                    }
                    &:after {
                        margin-left: 14px;
                    }
                }
            }
            & > button {
                width: 229px;
                height: 49px;
                margin-top: 24px;
                border: 2px solid $white;
                color: $white;
                font-family: $nova2;
                font-size: 14px;
                font-weight: 600;
                line-height: 30px;
                text-transform: uppercase;
                transition: 0.1s ease-in-out;
                &:hover {
                    color: $hov_col;
                    border-color: $hov_col;                 }
            }
        }

        & > div:nth-child(5) {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-image: url('img/cat-list-5.png');
            text-align: center;
            & > p:nth-child(1) {
                margin-top: 110px;               
                font-size: 22px;
                line-height: 30px;
                font-weight: 700;
                text-transform: uppercase;
            }
            & > p:nth-child(2) {
                font-family: $georg;
                font-size: 22px;
                font-weight: 700;
                text-transform: uppercase;
            }
            & > p:nth-child(3) {
                width: 185px;
                margin-top: 28px;
                font-family: $nova2;
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                text-transform: uppercase;
            }
        }

        & > div:nth-child(6) {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-image: url('img/cat-list-6.png');
            text-align: center;
            & > p:nth-child(1) {
                margin-top: 110px;
                font-family: $nova2;
                font-size: 22px;
                font-weight: 700;
                line-height: 30px;
                text-transform: uppercase;
            }
            & > p:nth-child(2) {            
                width: 209px;
                margin-top: 12px;
                padding: 15px 0 15px 0;
                font-family: $nova2;
                font-size: 12px;
                font-weight: 700;
                line-height: 18px;
                text-transform: uppercase;
                border-top: 1px solid $white;
                border-bottom: 1px solid $white;
            }
        }
    }
}